.banner-sec .card .img-fluid {
  max-height: 161px;
  margin: 0 auto;
}

.card-img-overlay, .carousel-indicators {
  display: none;
}

.carousel-inner .img-fluid {
    margin: 0 auto !important;
}

.card {
    min-height: 245px;
}

.sports .card {
    min-height: 475px;

    .img-fluid {
        margin: 0 auto;
    }
}
